@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
margin: 0;
    padding: 0;
}

body {
font-family: "Roboto", sans-serif;
}

#header {
position: sticky;
    top: 0;
    z-index: 1000;
    grid-area: header;
    width: 100vw;
    height: 195px;
    display: grid;
    grid-template-columns: 15% 1fr 15%;
    grid-template-rows: 1fr;
grid-template-areas: "logo text buttons";
    align-items: center;
    justify-items: center;
}

#header::before {
content: "";
    background: linear-gradient(180deg, rgba(123, 55, 125, 1) 0%, rgba(233, 129, 140, 1) 100%);
    box-shadow: 0px 2px 8px 5px rgba(233, 129, 140, 1);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.crafted-text {
text-shadow: -10px -4px 0px #4f2e5b;
    font-family: "Krona One", Helvetica;
    font-weight: 400;
    color: #ffea99;
    font-size: 80px;
    /* font-style: normal;
    font-weight: 400; */
line-height: normal;
    letter-spacing: 0;
    grid-area: text;
transition:
        font-size 1s ease,
        text-shadow 1s ease;
}

.header-buttons {
grid-area: buttons;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
    column-gap: 20px;
    width: 80%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "search menu"
        ". language";
    align-items: center;
    justify-items: center;
    justify-self: left;
    z-index: 1000;
}

.menu-button {
width: 100px;
    height: 50px;
    background-color: #ffea99;
    border: none;
border-radius: 0;
position: relative;
    outline: none;
    font-size: 30px;
    font-weight: 900;
    font-family: "Roboto", Helvetica, sans-serif;
    line-height: 20px;
    user-select: auto !important;
    pointer-events: auto !important;

&::before {
        top: 4px;
        left: -9px;
        bottom: -4px;
        width: 9px;
        transform: skewY(-45deg);
    content: "";
        position: absolute;
    background: #77357c;
    }

  &::after {
      bottom: -8.9px;
      left: -5px;
      right: 5px;
      height: 9px;
      transform: skewX(-45deg);
    content: "";
        position: absolute;
    background: #77357c;
    }

  &:active:not(.nobuttonclick) {
      translate: -4px 4px;

    &::before {
            top: 2px;
            left: -5px;
            bottom: -2px;
            width: 5px;
        }

        &::after {
            bottom: -4.9px;
            left: -3px;
            right: 3px;
            height: 5px;
        }
                                                                                                                                                                                                                                                                }

  &.largeW {
      width: 180px;
  }

  &.largeH {
      height: 80px;
  }
}

.menu-button[data-button="menu"] {
grid-area: menu;
}

.menu-button.search {
grid-area: search;
    width: 220px;

& img {
        width: 24px;
        height: 24px;
        position: absolute;
        right: 7%;
        align-self: center;
    }
}

#search {
background: transparent;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    font-size: 30px;
    font-weight: 900;
    font-family: "Roboto", Helvetica, sans-serif;
    line-height: 20px;
    padding-left: 20px;
    padding-right: 40px;
}

#search-results {
--height: 500px;
    --bottom: -520px;
    --animationspeed: 1.5s;
    position: absolute;
    width: 220px;
    height: 0px;
    bottom: -20px;
    left: 0;
    margin-top: 20px;
transition:
        height var(--animationspeed) ease,
        bottom var(--animationspeed) ease;
}

#language-picker {
grid-area: language;
    transform: translateX(25px);
}

.smallFont {
font-size: 20px;
}

.header-logo {
/* top: 20px;
    left: 38px; */
width: 110px;
    height: 110px;
    object-fit: cover;
    /* position: absolute; */
    aspect-ratio: 1;
    border-radius: 100%;
    grid-area: logo;
    z-index: 1000;
transition:
        box-shadow 1.5s ease,
        bottom 1.5s ease;
}

.timer {
display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: opacity 1s ease;
}

.timercounter {
display: flex;
    flex-direction: column;
    width: 150px;
    height: 75px;
    align-items: center;
    position: relative;
    background-color: #ffffff33;
    border-radius: 10px;
    border: 0.8px solid;
    border-color: #fffefe4c;
box-shadow:
        0px 4px 6px -4px #0000001a,
        0px 10px 15px -3px #0000001a;
    font-family: "Krona One", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 48px;
    text-align: center;
    letter-spacing: 0;
    justify-content: center;
}

.timerelement {
display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.timer-label {
font-family: "Roboto", Helvetica;
    font-weight: 500;
    color: #fffefee6;
    font-size: 14px;
letter-spacing: 0.7px;
    line-height: 20px;
    white-space: nowrap;
    text-transform: uppercase;
}

.timer .divider {
width: 16px;
    height: fit-content;
    font-family: "Krona One", Helvetica;
    font-weight: 400;
    color: #fffefe99;
    font-size: 36px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 20px;
}

body:has(menu:not(.menu-invisible)) .header-logo {
box-shadow: 0 4px 4px #00000040;
}

body:has(menu:not(.menu-invisible)) .crafted-text {
font-size: 48px;
    text-shadow: -6px -2px 0px #4f2e5b;
}

.invisible {
visibility: hidden;
}

.timer-invisible:not(.home-page) {
opacity: 0;
}
@media screen and (max-width: 1024px) {
    #header {
        height: 150px;
        grid-template-columns: 1fr 12%;
        grid-template-rows: 1fr;
        grid-template-areas: "text buttons";
    }

    .crafted-text {
        font-size: 60px;
        text-shadow: -8px -3px 0px #4f2e5b;
    }

    .header-logo {
        display: none;
        width: 90px;
        height: 90px;
    }

    .timercounter {
        width: 120px;
        height: 65px;
        font-size: 36px;
    }

    .timer-label {
        font-size: 12px;
    }

    .timer .divider {
        font-size: 28px;
        width: 12px;
        margin-bottom: 15px;
    }

    .menu-button {
        width: 80px;
        height: 45px;
        font-size: 26px;

        &.largeW {
            width: 140px;
        }

        &.largeH {
            height: 65px;
        }
    }

    .menu-button.search {
        width: 180px;
    }

    #search {
        font-size: 26px;
        padding-left: 15px;
    }

    body:has(menu:not(.menu-invisible)) .crafted-text {
        font-size: 40px;
        text-shadow: -5px -1.5px 0px #4f2e5b;
    }
}
@media screen and (max-width: 768px) {
#header {
        height: 120px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "logo"
            "buttons";
        gap: 8px;
        padding: 12px 0;
    }

    #header::before {
        box-shadow: 0px 1px 6px 3px rgba(233, 129, 140, 0.7);
    }

    .crafted-text {
        display: none;
    }
    .header-logo {
        display: none;
        width: 70px;
            height: 70px;
            grid-area: logo;
        }
        
        .header-buttons {
            grid-area: buttons;
            width: 100%;
            padding: 0 12px;
            grid-template-columns: auto auto auto;
            grid-template-rows: 1fr;
            grid-template-areas: "search menu language";
            gap: 8px;
            row-gap: 0;
            column-gap: 8px;
        }
        
        .menu-button {
            width: 65px;
            height: 40px;
            font-size: 16px;
        
            &::before {
                top: 3px;
                left: -7px;
                bottom: -3px;
                width: 7px;
                transform: skewY(-45deg);
            }
        
            &::after {
                bottom: -6.9px;
                left: -4px;
                right: 4px;
                height: 7px;
                transform: skewX(-45deg);
            }
        
            & img {
                height: 100%
            }
        }
        
        .menu-button.search {
            width: 70px;
            font-size: 22px;
        
            & img {
                right: 5%;
            }
        }
        
        #search {
            font-size: 22px;
            padding-left: 12px;
            padding-right: 30px;
        }
        
        .timercounter {
            width: 100px;
            height: 55px;
            font-size: 28px;
        }
        
        .timer-label {
            font-size: 10px;
        }
        
        .timer .divider {
            font-size: 22px;
            width: 10px;
            margin-bottom: 12px;
        }
        
        #language-picker {
            transform: translateX(0);
        }
        
        body:has(menu:not(.menu-invisible)) .header-logo {
            width: 55px;
            height: 55px;
        }
        
        .timer {
            gap: 6px;
        }
        
        .invisible {
            display: none !important;
        }
        }
        
        @media screen and (max-width: 480px) {
            #header {
                height: 100px;
                gap: 6px;
                padding: 10px 0;
            }
        
            .header-logo {
                display: none;
            }
        
            .header-buttons {
                width: 100%;
                padding: 0 10px;
                gap: 6px;
                column-gap: 6px;
        
                .menu-button {
                    width: 60px;
                    height: 35px;
                    font-size: 18px;
        
                    &::before {
                        top: 2px;
                        left: -5px;
                        bottom: -2px;
                        width: 5px;
                    }
        
                    &::after {
                        bottom: -4.9px;
                        left: -3px;
                        right: 3px;
                        height: 5px;
                    }
        
                    &:active:not(.nobuttonclick) {
                        translate: -2px 2px;
        
                        &::before {
                            top: 1px;
                            left: -3px;
                            bottom: -1px;
                            width: 3px;
                        }
        
                        &::after {
                            bottom: -2.9px;
                            left: -2px;
                            right: 2px;
                            height: 3px;
                        }
                    }
                }
        
                .menu-button.search {
                    width: 60px;
                    font-size: 18px;
                }
        
                #search {
                    font-size: 18px;
                    padding-left: 10px;
                    padding-right: 25px;
                }
        
                .timercounter {
                    width: 80px;
                    height: 50px;
                    font-size: 24px;
                }
        
                .timer-label {
                    font-size: 9px;
                }
        
                .timer .divider {
                    font-size: 18px;
                    width: 8px;
                    margin-bottom: 10px;
                }
        
                body:has(menu:not(.menu-invisible)) .header-logo {
                    width: 50px;
                    height: 50px;
                }
        
                .timer {
                    gap: 4px;
                }
                                                                }
}